body{
  background-color: #1d2d3c;
  color: white;
}

.card{
  background-color: #112030;
  color: white;
  padding: 5px;
  margin: 30px;
}

.card img{
  align-self: center;
  width: 80%;
  margin: 10px;
}

input {
  margin: 0 5px 0;
}