body{
  background-color: #1d2d3c;
  color: white;
}

.card{
  background-color: #112030;
  color: white;
  padding: 5px;
  margin: 30px;
  position: relative;
}

.card img{
  align-self: center;
  width: 80%;
  margin: 10px;
}

.card .loved{
  width: 30px;
  height: 30px;
  color: red;
  position: absolute;
  right: 15px;
  top: 10px;
}

.card .loved i {
  font-size: 1.5rem;
}

input {
  margin: 0 5px 0;
}

